.home-page {
    height: 100%;
    /*position: fixed;*/
}

.intro-panel {
    width: 100%;
    /*vertical padding is strangely based on width so this makes it a square,*/
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: -1; /* needed cause relative positoin is stupid and puts itself on top of everything */
 }

.intro-text {
    background-color: rgba(0,0,0,0.53);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/*.intro-text > div {*/
/*    padding: 10px;*/
/*}*/

.intro-greeting {
    font-size: 44pt;
}

.intro-name {
    font-weight: bold;
    font-size: 80pt;
    line-height: 80%;
}

.about {
    height: 200pt;
    font-size: 12pt;
    color: #626262;
    background-color: white;
    /*line-height: 200%;*/
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*@media only screen and (max-width: 700px) {*/

    .hobbies-area {
        width: 100%;
        /*background-color: #cfeff5;*/
    }

    .hobby-row {
        width: 100%;
        position: relative;
    }

    .hobby-row::after {
        content: "";
        display: block;
        padding-bottom: 50%;
    }

    .hobby-cell-l, .hobby-cell-r {
        position: absolute;
        top: 0;
        bottom: 0;
        overflow: hidden;
        background-color: white;
    }

    .hobby-media {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hobby-cell-l {
        right: 50%;
        left: 0;
    }

    .hobby-cell-r {
        right: 0;
        left: 50%;
    }

    .arrow {
        width: 0;
        height: 0;
        border-top: var(--height) solid transparent;
        border-bottom: var(--height) solid transparent;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        z-index: 1;

        --height: 30px;
        --width: 30px;
        --shift: 49%;
    }

    .arrow-1 {
        border-right: var(--width) solid var(--theme-1);
        right: var(--shift);
    }

    .text-1 {
        background-color: var(--theme-1);
    }

    .arrow-2 {
        border-left: var(--width) solid var(--theme-2);
        left: var(--shift);
    }

    .text-2 {
        background-color: var(--theme-2);
    }

    .arrow-3 {
        border-right: var(--width) solid var(--theme-3);
        right: var(--shift);
    }

    .text-3 {
        background-color: var(--theme-3);
    }

/*}*/


/*!* Requires user to have fixed height *!*/
/*.parallax {*/
/*    perspective: 1px;*/
/*    overflow-x: hidden;*/
/*    overflow-y: auto;*/
/*}*/
/*.parallax__layer {*/
/*    !*position: absolute;*!*/
/*    !*top: 0;*!*/
/*    !*right: 0;*!*/
/*    !*bottom: 0;*!*/
/*    !*left: 0;*!*/
/*}*/
/*.parallax__layer--base {*/
/*    transform: translateZ(0);*/
/*}*/

/*.parallax__layer--back {*/
/*    transform-style: preserve-3d;*/
/*    transform: translateZ(-1px) scale(2);*/
/*}*/

/*.parallax__layer--forward {*/
/*    transform: translateZ(1px) scale(0.5);*/
/*}*/
