.home-page {
    height: 100%;
    position: relative;
    /*position: fixed;*/
}

.intro-panel {
    width: 100%;
    /*vertical padding is strangely based on width so this makes it a square,*/
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    color: white;
    z-index: -1; /* needed cause relative positoin is stupid and puts itself on top of everything */
 }

.intro-text {
    background-color: rgba(0,0,0,0.53);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.intro-text > div {*/
/*    padding: 10px;*/
/*}*/

.intro-greeting {
    font-size: 8vmin;
}

.intro-name {
    font-weight: bold;
    font-size: 15vmin;
    line-height: 80%;
}

.pls-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6vh;
    font-size: 2vh;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
}

.scroll-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    cursor: pointer;

    animation: bounce 4s 0s infinite;
}

/*.bounce {*/
/*    animation: bounce 7s 1;*/
/*}*/

@keyframes bounce {
    0%   { transform: translateY(0%); }
    80%  { transform: translateY(0%); }
    85%  { transform: translateY(15%); }
    90%  { transform: translateY(0%); }
    95%  { transform: translateY(15%); }
    100%  { transform: translateY(0%); }
}

.scroll-tip {
    opacity: 0;
    transition: 0.1s;
}

.scroll-area:hover .scroll-tip {
    opacity: 1;
    /*animation: scroll-hover 0.5s;*/
}

.scroll-area:hover {
    /*animation-play-state: paused;*/
    animation: none;
}

/*@keyframes scroll-hover {*/
/*    0%   { opacity: 0; }*/
/*    100% { opacity: 100%; }*/
/*}*/

.scroll-button {
    cursor: pointer;
    z-index: 1;
}

.scroll-arrow {
    margin-top: 2px;
    border-top: var(--width) solid white;
    width: 0;
    height: 0;
    border-left: var(--height) solid transparent;
    border-right: var(--height) solid transparent;

    --height: 2vh;
    --width: 2vh;
}

.about {
    height: 200pt;
    font-size: 12pt;
    color: #626262;
    background-color: white;
    /*line-height: 200%;*/
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hobbies-area {
    width: 100%;
    /*background-color: #cfeff5;*/
}

.hobby-grid {
    width: 100%;
    display: grid;
}

/* Needed for square grid cells */
.hobby-grid div::before {
    content: "";
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
}

.bologna {
    --theme-color: var(--theme-1);
}

.shramp {
    --theme-color: var(--theme-2);
}

.eclair {
    --theme-color: var(--theme-3);
}

.hobby-text {
    font-size: 10pt;
    padding: 15%;
    background-color: var(--theme-color);
}

.hobby-media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top; /* Why tf do images have line heights??? */
}

.hobby-grid > div {
    position: relative;
}

.arrow {
    width: 0;
    height: 0;
    border-left: var(--height) solid transparent;
    border-right: var(--height) solid transparent;
    position: absolute;

    --height: 30px;
    --width: 30px;
    --shift: -1px;
}

.arrow-1 {
    border-bottom: var(--width) solid var(--theme-color);
}

.arrow-2 {
    border-top: var(--width) solid var(--theme-color);
}

/*@media only screen and (max-width: 700px) {*/
@media screen and (min-width: 600px) {
    .hobby-grid {
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        grid-auto-flow: column;
    }

    .arrow {
        left: 50%;
        transform: translateX(-50%);
    }

    .arrow-1 {
        bottom: var(--shift);
    }

    .arrow-2 {
        top: var(--shift);
    }

}

@media screen and (max-width: 599px) {
    .hobby-grid {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        grid-auto-flow: row;
    }

    .arrow {
        top: 50%;
    }

    .arrow-1 {
        right: var(--shift);
        transform-origin: bottom right;
        transform: rotate(-90deg) translateX(100%);
    }

    .arrow-2 {
        left: var(--shift);
        transform-origin: top left;
        transform: rotate(-90deg) translateX(-50%);
    }
}
