.hobbies {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.hobby {
    padding: 10px;
    flex: 1;
    text-align: center;
}

.hobby-comment {
    text-align: center;
    padding: 20px;
    font-size: 8pt;
    height: 24pt;
}

.hobby-media {
    max-width:100%;
    height: auto;
    /*transform: rotate(90deg);*/
    /*transform-origin: top left;*/
}

/*.middle-hob {*/
/*    margin-left: 10px;*/
/*    margin-right: 10px;*/
/*}*/

.home-page {
    height: 100%;
    /*position: fixed;*/
}

.intro-panel {
    width: 100%;
    /*vertical padding is strangely based on width so this makes it a square,*/
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: -1; /* needed cause relative positoin is stupid and puts itself on top of everything */
 }

.intro-text {
    background-color: rgba(0,0,0,0.53);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/*.intro-text > div {*/
/*    padding: 10px;*/
/*}*/

.intro-greeting {
    font-size: 44pt;
}

.intro-name {
    font-weight: bold;
    font-size: 80pt;
    line-height: 80%;
}

.about {
    height: 200pt;
    font-size: 12pt;
    color: #626262;
    background-color: white;
    /*line-height: 200%;*/
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hobbies-area {
    width: 100%;
    /*background-color: #eeeeee;*/
}

.hobby-row {
    width: 100%;
    position: relative;
}

.hobby-row::after {
    content: "";
    display: block;
    padding-bottom: 50%;
}

.hobby-cell-l, .hobby-cell-r {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: aliceblue;
}

.hobby-cell-l > img, .hobby-cell-r > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hobby-cell-l {
    right: 50%;
    left: 0;
}

.hobby-cell-r {
    right: 0;
    left: 50%;
}

.img-parallax-helper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* Requires user to have fixed height */
.parallax {
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax__layer {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
}
.parallax__layer--base {
    transform: translateZ(0);
}

.parallax__layer--back {
    transform-style: preserve-3d;
    transform: translateZ(-1px) scale(2);
}

.parallax__layer--forward {
    transform: translateZ(1px) scale(0.5);
}
