.footer {
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
}

.links {
    display: flex;
    justify-content: center;
    font-size: 8pt;
    padding-top: 4pt;
    padding-bottom: 4pt;
    background-color: var(--theme-color-header);
    color: var(--theme-color-header-text);
    width: 100%;
}

.link {
    padding-left: 10pt;
    padding-right: 10pt;
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

/*@media only screen and (max-width: 600px) {*/
/*    .footer {*/
/*        position: relative !important;*/
/*    }*/
/*}*/
