.header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(225, 220, 255);
    /*color: white;*/
}

.name {
    font-size: 20pt;
}

.tab {
    display:inline-block;
    margin: 5px;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    text-align:center;
}
.tab::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.active.tab {
    text-decoration: underline;
    font-weight: bold;
}
